name: Deploy via fabric-cicd

on: workflow_dispatch

env:
  resourceUrl: https://api.fabric.microsoft.com

jobs: 
  # Job deploy to Test via fabric-cicd
  Deploy_to_Test:
    # I use a GitHub-Hosted runner here, you can opt to use a self-hosted one instead
    runs-on: windows-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4.2.2
        # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access i
      - name: Setup Python
        uses: actions/setup-python@v5.5.0
        with:
            # Version range or exact version of Python or PyPy to use, 
            # using SemVer's version range syntax. Reads from .python-version if unset
            python-version: 3.11
      - name: Install fabric-cicd library
        run: |
          python -m pip install --upgrade pip
          pip install fabric-cicd

      - name: Authenticate as Service Principal
        run: |
          Install-Module -Name Az.Accounts -AllowClobber -Force

          $SecureStringPwd = ConvertTo-SecureString ${{secrets.AZURE_CLIENT_SECRET}} -AsPlainText -Force
          $pscredential = New-Object -TypeName System.Management.Automation.PSCredential -ArgumentList ${{secrets.AZURE_CLIENT_ID}}, $SecureStringPwd

          Connect-AzAccount -ServicePrincipal -Credential $pscredential -Tenant ${{secrets.AZURE_TENANT_ID}}
          $fabricToken = (Get-AzAccessToken -ResourceUrl ${{env.resourceUrl}}).Token

      - name: Run script to deploy with fabric-cicd to Test
        run: |
          python fabric-cicd-examples/kchant_publish_unpublish_action.py --WorkspaceId ${{vars.TestWorkspace}} --Environment "TEST" --RepositoryDirectory ".\DEV_REPO" --ItemsInScope ${{vars.ItemsInScope}}


      - name: Install Fabric-cli library
        run: |
          pip install ms-fabric-cli

      - name: Run Scripts Loading Data into Workspace's Data Store Artifacts
        run: fab job run ${{vars.TESTENV}}.Workspace/integrationFolder.Folder/populateLakehouse.Notebook



  'Deploy_to_Prod':
    # I use a GitHub-Hosted runner here, you can opt to use a self-hosted one instead
    runs-on: windows-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4.2.2
        # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access i
      - name: Setup Python
        uses: actions/setup-python@v5.5.0
        with:
            # Version range or exact version of Python or PyPy to use, 
            # using SemVer's version range syntax. Reads from .python-version if unset
            python-version: 3.11
      - name: Install fabric-cicd library
        run: |
          python -m pip install --upgrade pip
          pip install fabric-cicd

      - name: Authenticate as Service Principal
        run: |
          Install-Module -Name Az.Accounts -AllowClobber -Force

          $SecureStringPwd = ConvertTo-SecureString ${{secrets.AZURE_CLIENT_SECRET}} -AsPlainText -Force
          $pscredential = New-Object -TypeName System.Management.Automation.PSCredential -ArgumentList ${{secrets.AZURE_CLIENT_ID}}, $SecureStringPwd

          Connect-AzAccount -ServicePrincipal -Credential $pscredential -Tenant ${{secrets.AZURE_TENANT_ID}}
          $fabricToken = (Get-AzAccessToken -ResourceUrl ${{env.resourceUrl}}).Token

      - name: Login to Fab cli using service pricipal
        run: |
          fab auth login -u ${{secret.AZURE_CLIENT_ID}} -p ${{secret.AZURE_CLIENT_SECRET}} --tenant ${{secret.AZURE_TENANT_ID}}


      - name: Run script to deploy with fabric-cicd to Test
        run: |
          python fabric-cicd-examples/kchant_publish_unpublish_action.py --WorkspaceId ${{vars.ProdWorkspace}} --Environment "PROD" --RepositoryDirectory ".\DEV_REPO" --ItemsInScope ${{vars.ItemsInScope}}

